@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover,
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #bef264;
  color: #1a2e05;
}